/* REDUX VARIABLES */
html:not([dark]) {
    --redux-spec-text-primary: #fff;
    --redux-spec-text-primary-inverse: #fff;
    --redux-double-inverse: #030303;
    --redux-spec-text-secondary: #606060;
    --redux-spec-text-secondary-buttons: #606060;
    --redux-spec-call-to-action: #065fd4;
    --redux-spec-general-background-a: #f9f9f9;
    --redux-spec-icon-disabled: #909090;
    --redux-spec-icon-inactive: #030303;
    --redux-spec-brand-background-solid: #fff;
    --redux-box-shadow: var(--redux-spec-10-percent-layer-inverted);
    --redux-scrollbar-default: #aaa;
    --redux-scrollbar-hover: #909090;
    --redux-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
}
html[dark] {
    --redux-spec-general-background-a: #181818;
    --redux-spec-text-primary-inverse: #030303;
    --redux-double-inverse: #fff;
    --redux-spec-text-secondary: #aaa;
    --redux-spec-text-secondary-buttons: "#fff";
    --redux-spec-call-to-action: #3ea6ff;
    --redux-spec-icon-disabled: #717171;
    --redux-spec-icon-inactive: #fff;
    --redux-spec-brand-background-solid: #212121;
    --redux-box-shadow: var(--redux-spec-10-percent-layer);
    --redux-scrollbar-default: #aaa;
    --redux-scrollbar-hover: #717171;
    --redux-spec-badge-chip-background: rgba(255, 255, 255, 0.1);
}
html {
    --redux-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
    --redux-spec-10-percent-layer-inverted: rgba(0, 0, 0, 0.1);
    --redux-paper-dialog-background-color: var(--redux-spec-brand-background-solid);
    --ytd-toolbar-height: 50px !important;
    --ytd-masthead-height: 50px !important;
    --overridden-masthead-height: var(--ytd-masthead-height);
    --redux-dimmed-white: #f1f1f1;
}
/*GENERAL STYLES*/
ytd-app[masthead-hidden] {
    --ytd-masthead-height: 0px !important;
    --overridden-masthead-height: var(--ytd-masthead-height);
}
#page-manager.ytd-app,
#guide-spacer.ytd-app {
    --ytd-toolbar-offset: var(--overridden-masthead-height, var(--ytd-toolbar-height)) !important;
    margin-top: var(--overridden-masthead-height,var(--ytd-toolbar-height)) !important;
}
ytd-mini-guide-renderer.ytd-app {
    top: var(--overridden-masthead-height,var(--ytd-toolbar-height)) !important;
}
html:not([dark]) #video-title.ytd-rich-grid-media {
    color: #167ac6;
}
#video-title.ytd-rich-grid-media {
    font-size: min(14px, calc((90 / var(--ytd-rich-grid-items-per-row)) * 1px)) !important;
    line-height: 1.8rem !important;
}
#video-title.ytd-rich-grid-media:hover {
    text-decoration: underline;
}
#text.ytd-channel-name {
    font-size: min(14px, calc((90 / var(--ytd-rich-grid-items-per-row)) * 1px)) !important;
}
#metadata-line.ytd-video-meta-block span.ytd-video-meta-block {
    font-size: min(11px, calc((90 / var(--ytd-rich-grid-items-per-row)) * 1px)) !important;
}
ytd-rich-item-renderer {
    margin-bottom: 20px !important;
}
ytd-guide-section-renderer {
    --paper-item-min-height: 30px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
ytd-guide-entry-renderer[guide-refresh] {
    width: calc(100% - 8px) !important;
}
#guide-links-primary.ytd-guide-renderer > a, #guide-links-secondary.ytd-guide-renderer > a {
    font-size:10px !important;
}
#guide-section-title.ytd-guide-section-renderer,
#guide-section-title.ytd-guide-section-renderer a {
    color:#F00 !important;
}
.guide-icon.ytd-guide-entry-renderer {
    --iron-icon-height: 20px !important;
    --iron-icon-width: 20px !important;
    margin-right: 15px !important;
    color:#878787 !important;
}
yt-img-shadow.ytd-guide-entry-renderer {
    margin-right: 15px !important;
}
.thumbnail.ytd-notification-renderer {
    border-radius:0% !important;
}
ytd-thumbnail #thumbnail.ytd-thumbnail,
ytd-thumbnail::before,
ytd-guide-entry-renderer,
ytd-guide-entry-renderer > a,
ytd-multi-page-menu-renderer,
div.ytd-searchbox,
.rich-grid-media-skeleton .rich-thumbnail,
.rich-grid-media-skeleton .rich-thumbnail::before,
ytd-thumbnail-overlay-endorsement-renderer,
#video-preview-container,
.html5-video-player,
ytd-menu-popup-renderer,
tp-yt-paper-item:focus:before,
yt-interaction.down,
ytd-player,
body > iframe + div:last-of-type > div > div,
ytd-playlist-thumbnail #thumbnail.ytd-playlist-thumbnail,
yt-button-shape > button,
yt-button-shape > a,
ytd-thumbnail-overlay-time-status-renderer.ytd-thumbnail,
tp-yt-paper-toast,
tp-yt-paper-dialog,
#playlist > #container,
.ytp-popup,
.ytp-rounded-menu,
ytd-engagement-panel-section-list-renderer,
ytd-miniplayer,
.ytd-miniplayer,
.immersive-header-container.ytd-playlist-header-renderer,
.image-wrapper.ytd-hero-playlist-thumbnail-renderer,
ytd-playlist-video-renderer,
.branding-context-container-inner.ytp-rounded-branding-context,
.ytp-sb-subscribe.ytp-sb-rounded,
.ytp-sb-unsubscribe.ytp-sb-rounded,
.ytp-ce-video.ytp-ce-large-round,
.ytp-ce-playlist.ytp-ce-large-round,
.ytp-ce-large-round .ytp-ce-expanding-overlay-background,
.ytp-ce-video.ytp-ce-medium-round, 
.ytp-ce-playlist.ytp-ce-medium-round, 
.ytp-ce-medium-round .ytp-ce-expanding-overlay-background,
tp-yt-iron-dropdown div[slot],
html body[rounded-container] tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target=tooltip],
ytd-rich-metadata-renderer[rounded],
ytd-live-chat-frame,
ytd-macro-markers-list-item-renderer[rounded] #thumbnail.ytd-macro-markers-list-item-renderer,
.iv-card.ytp-rounded-info,
yt-copy-link-renderer[rounded-container] #bar.yt-copy-link-renderer {
    border-radius: 0 !important;
}
#search-icon-legacy {
    border-radius: 0 2px 2px 0 !important;
}
[redux-last-top],[redux-last-top-stream] {
    display: inline-block;
    vertical-align: middle;
}

/* turned off due to max() not being supported in old browsers

#container.ytd-masthead { 
    height: 50px !important;
} 
#header.ytd-app { 
    height: 50px !important;
} 
#guide-spacer.ytd-app { 
    margin-top: max(calc(var(--ytd-masthead-height, var(--ytd-toolbar-height)) - 6px), 0px) !important;
}
#page-manager.ytd-app {
    margin-top: max(calc(var(--ytd-masthead-height, var(--ytd-toolbar-height)) - 6px), 0px) !important;
}
ytd-mini-guide-renderer.ytd-app {
    top: max(calc(var(--ytd-masthead-height, var(--ytd-toolbar-height)) - 6px), 0px) !important;
}
#container.ytd-searchbox {
    padding: 1px 0px !important;
} */

/*VIDEO STYLES*/
.title.style-scope.ytd-video-primary-info-renderer yt-formatted-string.ytd-video-primary-info-renderer {
    font-size: 20px;
}
ytd-toggle-button-renderer {
    font-weight: normal !important;
}
#like-bar.ytd-sentiment-bar-renderer {
    background: #167ac6 !important;
}
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer {
    border-radius:0% !important;
}
#author-thumbnail.ytd-comment-simplebox-renderer {
    border-radius:0% !important;
}
#avatar.ytd-video-owner-renderer {
    border-radius:0% !important;
    width: 48px !important;
    height: 48px !important;
    margin-right: 10px !important;
}
#avatar.ytd-video-owner-renderer > img {
    width: 100%;
    height: 100%;
}
ytd-video-owner-renderer {
    align-items: end;
}
.yt-simple-endpoint.ytd-video-owner-renderer {
    display: flex !important;
}
html:not([dark]) #author-text.yt-simple-endpoint.ytd-comment-renderer {
    color: #128ee9 !important;
}
html:not([dark]) ytd-author-comment-badge-renderer {
    --ytd-author-comment-badge-name-color: #128ee9 !important;
}
html:not([dark]) .more-button.ytd-comment-replies-renderer, html:not([dark]) .less-button.ytd-comment-replies-renderer {
    color: #2793e6 !important;
}
span.yt-view-count-renderer, span.ytd-video-view-count-renderer {
    font-size:18px !important;
}
ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy, 
ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy {
    padding-top: 10px !important;
}
ytd-expander.ytd-video-secondary-info-renderer {
    line-height:15px !important;
    font-size:13px !important;
}
#description.ytd-video-secondary-info-renderer {
    max-width:none !important;
}
html:not([dark]) #vote-count-middle.ytd-comment-action-buttons-renderer {
    color: #128ee9 !important;
}
html[dark] #vote-count-middle.ytd-comment-action-buttons-renderer {
    color: #3ea6ff !important;
}
.content.ytd-metadata-row-header-renderer {
    display:none !important;
}
ytd-metadata-row-renderer {
    margin:0 !important;
}
#title.ytd-metadata-row-renderer {
    font-size:11px !important;
    margin:0 !important;
}
.content.ytd-metadata-row-renderer {
    font-size:11px !important;
    font-weight:normal !important;
}
html:not([dark]) ytd-author-comment-badge-renderer[creator] {
    background-color: #c0c0c080 !important;
}
#primary-inner.ytd-watch-flexy #title.ytd-rich-metadata-renderer, #primary-inner.ytd-watch-flexy #subtitle.ytd-rich-metadata-renderer, #primary-inner.ytd-watch-flexy #call-to-action.ytd-rich-metadata-renderer {
    font-size: 11px !important;
    line-height: 15px !important;
    margin-top: 0px !important;
}
#primary-inner.ytd-watch-flexy #call-to-action.ytd-rich-metadata-renderer {
    align-items: normal !important;
}
#primary-inner.ytd-watch-flexy #call-to-action.ytd-rich-metadata-renderer yt-icon {
    display: none;
}
#primary-inner.ytd-watch-flexy ytd-thumbnail.ytd-rich-metadata-renderer {
    max-width: 40px !important;
    max-height: 56px !important;
    margin: 0px 10px 0 0 !important;
}
#primary-inner.ytd-watch-flexy ytd-rich-metadata-renderer {
    max-width: min-content !important;
    min-width: max-content !important;
}
#always-shown ytd-rich-metadata-renderer {
    background: none;
}
ytd-button-renderer.redux-moved-info:first-of-type yt-icon {
    content: url('chrome-extension://__MSG_@@extension_id__/images/plus.svg');
}
ytd-button-renderer.redux-moved-info:first-of-type yt-icon-button#button {
    padding: 9px !important;
}
.redux-moved-info:last-of-type + yt-icon-button {
    transform: translateY(-3px);
}
#author-thumbnail.ytd-commentbox, ytd-commentbox[is-reply][is-backstage-comment] #author-thumbnail.ytd-commentbox,
ytd-commentbox[is-reply] #author-thumbnail.ytd-commentbox {
    border-radius: 0% !important;
}
#info ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer {
    color: #606060;
}
html[dark] #info ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer {
    color: var(--redux-spec-text-secondary-buttons) !important;
}
html:not([dark]) ytd-toggle-button-renderer.style-text[is-icon-button] #text.ytd-toggle-button-renderer,
html:not([dark]) ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer {
    color: #606060 !important;
}
html:not([dark]) #container.ytd-sentiment-bar-renderer {
    background-color: #ccc;
}
#top-level-buttons-computed ytd-download-button-renderer yt-formatted-string {
    color: var(--redux-spec-text-secondary-buttons) !important;
}
ytd-video-primary-info-renderer yt-button-shape > button:not(#info #upload-info yt-button-shape > button) {
    background-color: unset !important;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
}
ytd-video-primary-info-renderer yt-button-shape > button > div:not(#info #upload-info yt-button-shape > button > div) {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-top: 1px;
}
#top-level-buttons-computed #segmented-like-button {
    padding-right: 0;
}
#top-level-buttons-computed #segmented-like-button button::after {
    display: none;
}
ytd-video-primary-info-renderer > [button-renderer] yt-icon {
    width: 17px !important;
    height: 17px !important;
}
#info a[href*="hashtag"] {
    color: var(--redux-double-inverse);
    background-color: var(--redux-spec-badge-chip-background);
    padding: 1px 2px;
    margin: -1px 0;
}

/*PLAYLIST STYLES*/
#text.ytd-alert-with-button-renderer {
    color:#0066ff !important;
}
#contributor.ytd-playlist-video-renderer, #index.ytd-playlist-video-renderer, #content.ytd-playlist-video-renderer {
    padding: 4px 0 !important;
}
#playlist.ytd-watch-flexy {
    margin-bottom: 8px !important;
    margin-left: -13px !important;
}
    
/*SEARCH RESULTS STYLES*/
ytd-item-section-renderer ytd-thumbnail:not([rich-grid-thumbnail]), 
ytd-item-section-renderer ytd-playlist-thumbnail {
    max-width: 246px !important;
}
html:not([dark]) #video-title.ytd-video-renderer {
    color:#167ac6 !important;
}
html:not([dark]) #video-title.ytd-playlist-renderer {
    color:#167ac6 !important;
}
ytd-video-renderer #channel-info.ytd-video-renderer {
    padding:0 !important;
}
ytd-search-filter-renderer.ytd-search-filter-group-renderer {
    padding: 2px 0 0 !important;
}
html:not([dark]) #video-title.ytd-radio-renderer {
    color:#167ac6 !important;
}
yt-img-shadow.ytd-channel-renderer {
    border-radius: 0% !important;
}
ytd-channel-renderer #avatar-section.ytd-channel-renderer .channel-link.ytd-channel-renderer {
    -webkit-justify-content: normal !important;
    justify-content: normal !important;
}
ytd-channel-renderer #avatar-section.ytd-channel-renderer {
    -webkit-flex: 0 !important;
    flex: 0 !important;
    margin-right: 22px !important;
}
#container.style-scope.ytd-search {
    align-items: center;
}

ytd-two-column-search-results-renderer tp-yt-paper-button.ytd-subscribe-button-renderer {
    margin-right: 15px !important;
}

/*CHANNEL STYLES*/
html:not([dark]) #video-title.ytd-grid-playlist-renderer {
    color:#167ac6 !important;
}
html:not([dark]) #video-title.yt-simple-endpoint.ytd-grid-video-renderer {
    color:#167ac6 !important;
}
.tab-content.paper-tab,
.tab-content.tp-yt-paper-tab {
    font-size:13px !important;
}
paper-tab.ytd-c4-tabbed-header-renderer,
tp-yt-paper-tab.ytd-c4-tabbed-header-renderer {
    padding: 0 8px !important;
}
#selectionBar.paper-tabs,
#selectionBar.tp-yt-paper-tabs {
    border-bottom: 2px solid #f00 !important;
}
#description.ytd-channel-about-metadata-renderer, #bio.ytd-channel-about-metadata-renderer {
    font-size:13px !important;
}
html:not([dark]) #title.ytd-grid-channel-renderer {
    color:#167ac6 !important;
}
yt-img-shadow.ytd-grid-channel-renderer {
    border-radius: 0% !important;
}
yt-img-shadow.ytd-channel-avatar-editor {
    border-radius: 0% !important;
}
#avatar.ytd-c4-tabbed-header-renderer {
    border-radius: 0% !important;
}
yt-img-shadow.ytd-mini-channel-renderer {
    border-radius: 0% !important;
}
#items.ytd-vertical-channel-section-renderer > *.ytd-vertical-channel-section-renderer:not(:first-child) {
    padding-top: 8px !important;
}
.grid-subheader.ytd-shelf-renderer {
    margin-top: 12px !important;
}
#contents.ytd-shelf-renderer {
    margin-top: 12px !important;
}
[page-subtype="channels"] ytd-rich-grid-row > #contents > ytd-rich-item-renderer[is-slim-grid]:first-of-type {
    margin-left: calc(var(--ytd-rich-grid-item-margin)/2);
}
    
/*FEED STYLES*/
yt-img-shadow.ytd-channel-list-sub-menu-avatar-renderer {
    width: 40px !important;
    height: 40px !important;
}
#contents.ytd-channel-list-sub-menu-renderer {
    max-width:300px !important;
}

/*ADDITIONAL*/
[page-subtype="home"] ytd-rich-grid-renderer {
    --ytd-rich-grid-items-per-row: 6 !important;
}
html[dark] #show-more-related input, html[dark] #show-more-comments input {
    border-top: 1px solid var(--yt-spec-10-percent-layer) !important;
}
#redux-trim-span {
    color: var(--redux-spec-text-secondary);
    margin-right: 4px;
    font-size: var(--ytd-thumbnail-attribution_-_font-size);
    font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    line-height: var(--ytd-thumbnail-attribution_-_line-height);
    letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
    text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
    border-radius: 0 2px 2px 0;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 1px;
    padding-top: 3px;
    margin-left: 0px;
}
html[dark] #redux-trim-span {
    border: 1px solid var(--redux-spec-10-percent-layer);
    background: none;
}
html[dark] ytd-multi-page-menu-renderer {
    border-top: 1px solid var(--redux-spec-10-percent-layer) !important;
}
ytd-multi-page-menu-renderer {
    border-top: 1px solid var(--redux-spec-10-percent-layer-inverted) !important;
}
